@import '../../variablesAndMixins.scss';

.container {
  @include flex(column, center, center, 0);
  background-color: rgba($color: $black_color, $alpha: 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .updateWrapper {
    @include flex(column, center, 0, 0);
    @include for_wrapper(0, 500px, center);
    height: 289px;
    background-color: $white_color;
    width: 100%;
    border-radius: 16px;
    padding: 15px 20px;
    position: relative;

    h1 {
      font-size: 26px;
      color: $black_color;
      padding-bottom: 18px;
    }

    .updateNoteWrapper {
      @include flex(column, center, center, 10px);

      input {
        @include inp_btn(1px solid $purple_color, 5px, 8px 10px);
        font: 500 16px Inter;
        width: 100%;

        &::placeholder {
          color: $light_purple_color;
        }
      }

      .buttonsWrapper {
        @include flex(row, space-between, 0, 0);
        margin-top: 30px;
        width: 100%;

        button {
          @include inp_btn(1px solid $purple_color, 5px, 8px 10px);
          @include for_text($white_color, uppercase, 84px);
          background-color: $purple_color;
          font: 500 18px Kanit;

          &:hover {
            transform: 0.5s;
            opacity: 90%;
          }

          &:active {
            background-color: $dark_purple_color;
          }
        }
      }
    }
  }
}
