$purple_color: #6c63ff;
$dark_purple_color: #564ef1;
$white_color: #f7f7f7;
$light_purple_color: #c3c1e5;
$black_color: #252525;

@mixin inp_btn($border, $border_radius, $padding) {
  border: $border;
  border-radius: $border_radius;
  padding: $padding;
}

@mixin for_wrapper($margin, $max-with, $text-align) {
  margin: $margin;
  max-width: $max-with;
  text-align: $text-align;
}

@mixin for_img($height, $width) {
  height: $height;
  width: $width;

  &:hover {
    cursor: pointer;
  }
}

@mixin flex($flex-direction, $justify-content, $align-items, $gap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

.container {
  padding: 0 10px;

  .createWrapper {
    @include for_wrapper(40px auto, 750px, center);
    @include flex(column, 0, 0, 0);

    h1 {
      font-size: 26px;
      color: $black_color;
      padding-bottom: 18px;
    }

    .createNoteWrapper {
      @include flex(row, space-between, 0, 5px);

      input {
        @include inp_btn(1px solid $purple_color, 5px, 8px 10px);
        font: 500 16px Inter;
        width: 100%;

        &:first-child {
          max-width: 246px;
        }

        &:nth-child(2) {
          max-width: 389px;
        }

        &::placeholder {
          color: $light_purple_color;
        }
      }

      button {
        @include inp_btn(1px solid $purple_color, 5px, 8px 10px);
        color: $white_color;
        text-transform: uppercase;
        background-color: $purple_color;
        width: 84px;

        font: 500 18px Kanit;

        &:hover {
          transform: 0.5s;
          opacity: 90%;
        }

        &:active {
          background-color: $dark_purple_color;
        }
      }
    }
  }

  .emptyWrapper {
    @include for_wrapper(40px auto 0, 750px, center);

    p {
      padding-top: 20px;
    }
  }

  .existingNotesWrapper {
    @include for_wrapper(15px auto 0, 520px, left);

    .generalNoteWrapper {
      @include flex(row, space-between, 0, 0);

      .noteWrapper {
        @include flex(row, 0, center, 15px);

        .checkMarkImg {
          @include for_img(26px, 26px);
        }

        .noteTitle {
          width: 85px;
          text-transform: uppercase;
          color: black;
        }

        .noteCompleteTitle {
          width: 85px;
          text-transform: uppercase;
          text-decoration: line-through;
          color: black;
          opacity: 50%;
        }

        .noteDescription {
          width: 300px;
          color: $light_purple_color;
        }
      }

      .iconsNoteWrapper {
        @include flex(row, 0, center, 10px);

        .pencilImg {
          @include for_img(13px, 13px);

          &:hover {
            content: url('../assets/pencilPurple.svg');
          }
        }

        .garbageCanImg {
          @include for_img(18px, 18px);

          &:hover {
            content: url('../assets/garbageCanPurple.svg');
          }
        }
      }
    }

    .line {
      border: 1px solid $purple_color;
      margin: 15px 0;
      opacity: 50%;
    }
  }
}
